{% if site.footer_fixed %}
<footer class="fixed-bottom">
    <div class="container">
        {% if site.show_social_icons != true %}
        <h1>
            {% assign name = site.title | split: ' ' %}
            <!--            <img src="{{ 'favicon-safari-pinned-tab.svg' | prepend: '/assets/img/' | relative_url }}" width="20"/>-->
            <span class="font-weight-bold">{{ name | first }}</span>
            {{ name | last }}

            {%- include social.html -%}
        </h1>
        {% endif %}
        &copy; Copyright {{ site.time | date: '%Y' }} <a class="u-email" href="mailto:{{ site.email }}">{{ site.title
        }}</a>.
        &copy; Copyright 2018 <a href="https://github.com/distillpub/template/blob/master/AUTHORS">The Distill Template
        Authors.</a>
        {{ site.footer_text }}
        <br/>
        {% if site.last_updated %}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {% endif %}
    </div>
</footer>
{% else %}
<footer class="sticky-bottom mt-5">
    <div class="container">

        {% if site.show_social_icons != true %}
        <h1>
            {%- include social.html -%}
        </h1>
        {% endif %}

        <!-- See Boosstrap ref: https://getbootstrap.com/docs/4.5/layout/grid/#nesting   -->
        <div class="row justify-content-center">

            <div class="col-auto">
                &copy; Copyright {{ site.time | date: '%Y' }} <a class="u-email" href="mailto:{{ site.email }}">{{
                site.title }}</a>.
            </div>

            <div class="col-auto">
                &copy; Copyright 2018 <a href="https://github.com/distillpub/template/blob/master/AUTHORS">The Distill
                Template Authors.</a>
            </div>

            <div class="col-auto">
                {{ site.footer_text }}
            </div>
        </div>

        {% if site.last_updated %}
        <p>
            <br/>
            Last updated: {{ "now" | date: '%B %d, %Y' }}.
        </p>
        {% endif %}
    </div>
</footer>
{% endif %}
